In [2]:
import pandas as pd
import numpy as np

In [ ]:


acs = pd.read_sas('../data/raw/spm_pu_2019.sas7bdat')

In [4]:
acs.head()

,filedate,serialno,sporder,st,puma,wt,age,sex,mar,education,...,spm_fedtaxbc,spm_eitc,spm_fica,spm_sttax,spm_capwkccxpns,spm_wkxpns,spm_childcarexpns,spm_medxpns,spm_premium,HI_premium
0,20211015.0,1.0,1.0,12.0,1208623.0,171.0,68.0,2.0,1.0,4.0,...,38587.5,0.0,18524.0,0.00000,5719.752,5719.752,0.0,17535.735976,3317.569615,1832.612223
1,20211015.0,1.0,2.0,12.0,1208623.0,156.0,70.0,1.0,1.0,4.0,...,38587.5,0.0,18524.0,0.00000,5719.752,5719.752,0.0,17535.735976,3317.569615,730.055402
2,20211015.0,1.0,3.0,12.0,1208623.0,185.0,29.0,2.0,5.0,4.0,...,38587.5,0.0,18524.0,0.00000,5719.752,5719.752,0.0,17535.735976,3317.569615,2036.235803
3,20211015.0,2.0,1.0,18.0,1800300.0,68.0,80.0,1.0,1.0,3.0,...,340.0,0.0,0.0,682.34003,0.000,0.000,0.0,6068.114116,152.717685,0.000000
4,20211015.0,2.0,2.0,18.0,1800300.0,67.0,73.0,2.0,1.0,2.0,...,340.0,0.0,0.0,682.34003,0.000,0.000,0.0,6068.114116,152.717685,305.435370

In [3]:
acs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3088232 entries, 0 to 3088231
Data columns (total 46 columns):
 #   Column             Dtype
---  ------             -----
 0   filedate           float64
 1   serialno           float64
 2   sporder            float64
 3   st                 float64
 4   puma               float64
 5   wt                 float64
 6   age                float64
 7   sex                float64
 8   mar                float64
 9   education          float64
 10  race               float64
 11  hispanic           float64
 12  offpoor            float64
 13  moop_other         float64
 14  medicare_partb     float64
 15  tax_id             float64
 16  agi                float64
 17  spm_id             float64
 18  spm_numper         float64
 19  spm_numadults      float64
 20  spm_numkids        float64
 21  spm_wcohabit       float64
 22  spm_wui_lt15       float64
 23  spm_equivscale     float64
 24  spm_tenmortstatus  float64
 25  spm_geoadj         float64
 26  spm_poor           float64
 27  spm_povthreshold   float64
 28  spm_resources      float64
 29  spm_totval         float64
 30  spm_snapsub        float64
 31  spm_caphousesub    float64
 32  spm_schlunch       float64
 33  spm_engval         float64
 34  spm_wicval         float64
 35  spm_fedtax         float64
 36  spm_fedtaxbc       float64
 37  spm_eitc           float64
 38  spm_fica           float64
 39  spm_sttax          float64
 40  spm_capwkccxpns    float64
 41  spm_wkxpns         float64
 42  spm_childcarexpns  float64
 43  spm_medxpns        float64
 44  spm_premium        float64
 45  HI_premium         float64
dtypes: float64(46)
memory usage: 1.1 GB

In [6]:
stata_url = r'https://www2.census.gov/programs-surveys/supplemental-poverty-measure/datasets/spm/spm_2019_pu.dta'
acs = pd.read_stata(
    stata_url,
    preserve_dtypes=True,
)

In [ ]:
acs.head()

In [17]:
# from pandas.compat import StringIO
ipums_path = r'../data/raw/usa_00003.csv.gz'
ipums = pd.read_csv(ipums_path)
# ipums = pd.read_csv(StringIO(ipums_path), sep="\s+", skiprows=1, )
ipums.head()

,YEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,COUNTYFIP,STRATA,GQ
0,2019,201901,1,2019010000088,11.0,2019000000011,0,220001,4
1,2019,201901,2,2019010000096,70.0,2019000000021,0,100001,3
2,2019,201901,3,2019010000153,20.0,2019000000031,15,110001,4
3,2019,201901,4,2019010000198,79.0,2019000000041,15,110001,3
4,2019,201901,5,2019010000205,53.0,2019000000051,97,270101,3